@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #667488;
  font-size: 15px;
}
*{
  box-sizing: border-box;
}
.img, img {
  max-width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}


.f-left {
  float: left;
}

.f-right {
  float: right;
}

.fix {
  overflow: hidden;
}

a,
.button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

a,
button {
  color: inherit;
  outline: medium none;
}


.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #1c2733;
  margin-top: 0px;
  font-style: normal;
  font-weight: 600;
  text-transform: normal;
  line-height: 1;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 15px;
  font-weight: normal;
  line-height: 28px;
  color: #667488;
  margin-bottom: 15px;
}


/*--
    - Common Classes
-----------------------------------------*/
.fix {
  overflow: hidden;
}

.clear {
  clear: both;
}

/*--
    - Background color
-----------------------------------------*/
.grey-bg {
  background: #f5f7fc;
}

.white-bg {
  background: #ffffff;
}

.black-bg {
  background: #1c2733;
}

.black-bg {
  background: #1c2733;
}

.theme-bg {
  background: #26ae61;
}

/*--
    - color
-----------------------------------------*/
.white-color {
  color: #ffffff;
}

.black-color {
  color: #1c2733;
}

.theme-color {
  color: #26ae61;
}


/*-- Margin Bottom --*/
.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-115 {
  margin-bottom: 115px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-125 {
  margin-bottom: 125px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-135 {
  margin-bottom: 135px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-145 {
  margin-bottom: 145px;
}

.mb-150 {
  margin-bottom: 150px;
}

.mb-155 {
  margin-bottom: 155px;
}

.mb-160 {
  margin-bottom: 160px;
}

.mb-165 {
  margin-bottom: 165px;
}

.mb-170 {
  margin-bottom: 170px;
}

.mb-175 {
  margin-bottom: 175px;
}

.mb-180 {
  margin-bottom: 180px;
}

.mb-185 {
  margin-bottom: 185px;
}

.mb-190 {
  margin-bottom: 190px;
}

.mb-195 {
  margin-bottom: 195px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mb-205 {
  margin-bottom: 205px;
}

.mb-210 {
  margin-bottom: 210px;
}

.mb-215 {
  margin-bottom: 215px;
}

.mb-220 {
  margin-bottom: 220px;
}

.mb-225 {
  margin-bottom: 225px;
}

.mb-230 {
  margin-bottom: 230px;
}

.mb-235 {
  margin-bottom: 235px;
}

.mb-240 {
  margin-bottom: 240px;
}

.mb-245 {
  margin-bottom: 245px;
}

.mb-250 {
  margin-bottom: 250px;
}

.mb-255 {
  margin-bottom: 255px;
}

.mb-260 {
  margin-bottom: 260px;
}

.mb-265 {
  margin-bottom: 265px;
}

.mb-270 {
  margin-bottom: 270px;
}

.mb-275 {
  margin-bottom: 275px;
}

.mb-280 {
  margin-bottom: 280px;
}

.mb-285 {
  margin-bottom: 285px;
}

.mb-290 {
  margin-bottom: 290px;
}

.mb-295 {
  margin-bottom: 295px;
}

.mb-300 {
  margin-bottom: 300px;
}



/* sakil css start */
a,
.btn,
button,
span,
p,
i,
input,
select,
textarea,
li,
img,
*::after,
*::before,
.transition-3,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.job-hero-form {
  background: #fff;
  border-radius: 30px;
  position: relative;
}
.job-hero-form .nice-select {
  border-radius: 36px 0 0 37px;
  border: 0;
  float: left;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 65px;
  line-height: 64px;
  padding-left: 30px;
  padding-right: 30px;
  width: 230px;
  color: #1c2733;
  border-right: 1px solid #eaeaea;
}
.job-hero-form .nice-select::after {
  border-bottom: 2px solid #fe9703;
  border-right: 2px solid #fe9703;
  height: 10px;
  margin-top: -7px;
  right: 25px;
  top: 50%;
  width: 10px;
}
@media (max-width: 767px) {
  .job-hero-form .nice-select {
    width: 100%;
    border-radius: 0;
    float: none;
    border-right: 0;
    border-bottom: 1px solid #eaeaea;
  }
}
.job-hero-form input {
  width: 230px;
  height: 65px;
  border: 0;
  padding: 0 25px;
  font-weight: 500;
  font-size: 15px;
}
@media (max-width: 767px) {
  .job-hero-form input {
    width: 100%;
    border-radius: 0;
  }
}
.job-input {
  position: relative;
  display: inline-block;
}
@media (max-width: 767px) {
  .job-input {
    display: block;
  }
}
.job-input::after {
  position: absolute;
  content: "";
  font-family: "Font Awesome 5 Pro";
  top: 20px;
  color: #fe9703;
  right: 15px;
}
@media (max-width: 767px) {
  .job-input::after {
    right: 23px;
  }
}

.job-hero-form button {
  position: absolute;
  right: -2px;
  background: #26ae61;
  color: #fff;
  height: 65px;
  top: 0;
  width: 200px;
  border: 0;
  border-radius: 33px;
  font-size: 15px;
  font-weight: 500;
}
.job-hero-form button:hover {
  background: #fe9703;
}
@media (max-width: 767px) {
  .job-hero-form button {
    width: 100%;
    border-radius: 0;
    position: static;
  }
}
.job-hero-form button i {
  font-size: 13px;
  margin-left: 5px;
}

.job-hero-form-2 {
  border-radius: 80px;
  padding: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .job-hero-form-2 .col-xl-3 {
    margin: 7px 0;
  }
}
@media (max-width: 767px) {
  .job-hero-form-2 .col-xl-3 {
    margin: 5px 0;
  }
}

.job-hero-form-2 .nice-select {
  border-radius: 40px;
  border: 0;
  float: left;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 65px;
  line-height: 61px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  color: #1c2733;
  border-right: 0;
  border: 2px solid #eeeeee;
}
.job-hero-form-2 input {
  width: 100%;
  height: 65px;
  border: 0;
  padding: 0 25px;
  font-weight: 500;
  font-size: 15px;
  border: 2px solid #eeeeee;
  border-radius: 40px;
}
.job-hero-form-2 .job-input::after {
  right: 26px;
}
.job-hero-form-2 button {
  position: static;
  background: #26ae61;
  width: 100%;
}
@media (max-width: 767px) {
  .job-hero-form-2 button {
    border-radius: 50px;
  }
}

/* 6. Job */
.job-wrapper {
  border: 1px solid #ebebeb;
  padding: 45px 50px;
  background: #fff;
  position: relative;
}
@media (max-width: 767px) {
  .job-wrapper {
    padding: 25px 25px;
  }
}

.job-tag {
  position: relative;
  z-index: 2;
}

.job-instructor-profile {
  position: relative;
  z-index: 2;
}

.job-content {
  position: relative;
  z-index: 2;
}

div.job-tag span {
  background: #f5f7fc;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  color: #26ae61;
  line-height: 1;
  min-height: 25px;
}

.job-tag span.tag-urgent {
  background: #ff4545;
  color: #fff;
}

.job-tag span.tag-fea {
  background: #26ae61;
  color: #fff;
}

.job-instructor-img {
  margin-right: 20px;
}

.job-instructor-img-2 {
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .job-instructor-img-2 {
    float: none;
    margin-bottom: 20px;
  }
}

.job-instructor-title {
  overflow: hidden;
}
.job-instructor-title h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
}
.job-instructor-title h4:hover {
  color: #26ae61;
}
.job-instructor-title h5:hover {
  color: #26ae61;
}
.job-instructor-title span {
  color: #667488;
  font-size: 14px;
}
.job-instructor-title span i {
  color: #26ae61;
  margin-right: 5px;
  font-size: 18px;
}

.job-content h4 {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 15px;
}
.job-content h4:hover {
  color: #26ae61;
}
.job-content p {
  margin-bottom: 25px;
}

.job-salary span {
  margin-right: 50px;
  font-weight: 500;
  font-size: 15px;
}
@media (max-width: 767px) {
  .job-salary span {
    margin-right: 10px;
  }
}
.job-salary i {
  color: #26ae61;
  margin-right: 5px;
  font-size: 18px;
}
.job-salary a {
  font-weight: 700;
  font-size: 14px;
  color: #26ae61;
}
.job-salary a:hover {
  color: #fe9703;
}
.job-salary a:hover i {
  color: #fe9703;
}
.job-salary a i {
  margin-left: 5px;
  transform: translateY(0px);
  display: inline-block;
  font-size: 13px;
}

.banck-icon {
  position: absolute;
  right: 30px;
  z-index: 1;
  top: 30px;
}
.banck-icon i {
  font-size: 100px;
  line-height: 1;
  color: #f7f7f7;
}

.job-meta span {
  margin-right: 15px;
}

.job-meta-2 span {
  display: block;
  margin-bottom: 15px;
}
.job-meta-2 span i {
  color: #26ae61;
}

.job-filter .nice-select {
  border-radius: 0;
  border: solid 1px #ebebeb;
  float: none;
  font-size: 14px;
  height: 55px;
  line-height: 52px;
  width: 100%;
  color: #1c2733;
  font-size: 15px;
  font-weight: 500;
}
.job-filter .nice-select::after {
  right: 20px;
}

.job-widget {
  margin-bottom: 10px;
  border-left: 3px solid #26ae61;
}
.job-widget .nice-select {
  border-radius: 0;
  border: 0;
  float: none;
  font-size: 14px;
  height: 55px;
  line-height: 52px;
  width: 100%;
  color: #1c2733;
  font-size: 15px;
  font-weight: 500;
}
.job-widget .nice-select::after {
  right: 20px;
}

.job-item {
  background: #fff;
  padding: 50px;
  border-bottom: 2px solid #fe9703;
}

.job-item-2 {
  border-top: 5px solid #fe9703;
  border-bottom: none;
  position: relative;
}

.job-item .job-wrapper {
  border: 0;
  padding: 0;
}

.job-item .banck-icon {
  position: absolute;
  right: 30px;
  z-index: 1;
  top: 0;
}

.job-item .banck-icon i {
  font-size: 100px;
  line-height: 1;
  color: #f7f7f7;
}

.job-item .job-instructor-title {
  position: relative;
  z-index: 2;
}

.job-details-wrapper {
  padding: 0px 50px;
  padding-bottom: 60px;
}
@media (max-width: 767px) {
  .job-details-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.job-details-inner {
  padding-top: 60px;
  border-top: 1px solid #eaeaea;
}

.job-list h4 {
  font-size: 22px;
  margin-bottom: 25px;
}
.job-list ul li {
  padding-left: 32px;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  margin-bottom: 16px;
}
.job-list ul li::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0px;
  font-family: "Font Awesome 5 Pro";
  font-size: 15px;
  color: #26ae61;
}

.job-details-video {
  position: relative;
}
.job-details-video img {
  width: 100%;
}

.job-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 100px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  background: #ed1c24;
  color: #ffffff;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  z-index: 1;
}
.job-play:focus {
  color: #ffffff;
}
.job-play:hover {
  color: #ffffff;
}

.job-thumb img {
  width: 100%;
}

.job-upload {
  position: relative;
}
.job-upload input {
  width: 100%;
  background: #f5f7fc;
  height: 50px;
  line-height: 50px;
  border: none;
  appearance: none;
  -moz-appearance: none;
}
.job-upload button {
  position: absolute;
  top: 10px;
  right: 20%;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 13px;
}
.job-upload button::before {
  border-radius: 5px;
}

.job-tags span {
  font-weight: 600;
  color: #1c2733;
  font-size: 14px;
  margin-right: 15px;
  min-width: 95px;
}
.job-tags ul {
  display: inline-block;
}
.job-tags ul li {
  display: inline-block;
  margin-right: 4px;
}
.job-tags a {
  font-size: 14px;
  font-weight: 500;
  border: 2px solid #e3e3e3;
  height: 30px;
  line-height: 30px;
  padding: 0 13px;
  border-radius: 5px;
  text-transform: uppercase;
}
.job-tags a:hover {
  border-color: #26ae61;
  color: #26ae61;
}

.job-share span {
  font-weight: 600;
  color: #1c2733;
  font-size: 14px;
  margin-right: 15px;
  min-width: 95px;
}

.job-map {
  height: 380px;
  width: 100%;
}
.job-map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.related-job h4 {
  font-size: 24px;
  margin-bottom: 25px;
}

.related-job-single {
  border: 1px solid #e3e3e3;
}

.related-job-slider .owl-nav {
  display: flex;
  position: absolute;
  top: -60px;
  right: 0;
}
.related-job-slider .owl-nav div button {
  width: 35px;
  height: 35px;
  line-height: 32px;
  color: #1c2733;
  border: 1px solid #e3e3e3;
  background: transparent;
}
.related-job-slider .owl-nav div button:hover {
  background: #26ae61;
  color: #ffffff;
  border-color: #26ae61;
}
.related-job-slider .owl-nav div.owl-prev {
  margin-right: 8px;
}
.related-job-slider .job-instructor-img {
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .related-job-slider .job-instructor-img {
    margin-bottom: 30px;
    float: none;
  }
}
@media (max-width: 767px) {
  .related-job-slider .job-meta span {
    display: block;
    margin-bottom: 10px;
  }
}

.job-contact {
  padding: 35px 40px;
  border: 1px solid #e3e3e3;
}
@media (max-width: 767px) {
  .job-contact {
    padding: 15px;
  }
}
.job-contact h4 {
  font-size: 22px;
  margin-bottom: 25px;
}

.job-input-2 {
  position: relative;
}
.job-input-2 i {
  position: absolute;
  top: 23px;
  right: 25px;
  color: #26ae61;
}
.job-input-2 input,
.job-input-2 textarea {
  width: 100%;
  background: #f5f7fc;
  border: none;
  height: 60px;
  line-height: 60px;
  padding: 0 25px;
  padding-right: 45px;
  margin-bottom: 20px;
  color: #1c2733;
}
.job-input-2 input::placeholder,
.job-input-2 textarea::placeholder {
  color: #1c2733;
  font-weight: 600;
}
.job-input-2 input:focus,
.job-input-2 textarea:focus {
  border-color: #26ae61;
}
.job-input-2 input:focus::placeholder,
.job-input-2 textarea:focus::placeholder {
  opacity: 0;
}
.job-input-2 textarea {
  padding: 15px 20px;
  padding-right: 40px;
  height: 190px;
  resize: none;
  line-height: 28px;
}

.job-instructor-img img {
  width: inherit !important;
  display: inline-block !important;
}

.emp-sidebar .job-widget {
  border-left: 0;
  border: 1px solid #ebebeb;
}

/* sakil css start*/
.job-meta span i {
  color: #26ae61;
}

.job-item-3 {
  border: 1px solid #e0e0e0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.job-item-3:hover {
  -webkit-box-shadow: 0px 10px 30px 0px rgba(207, 207, 207, 0.25);
  -moz-box-shadow: 0px 10px 30px 0px rgba(207, 207, 207, 0.25);
  box-shadow: 0px 10px 30px 0px rgba(207, 207, 207, 0.25);
  border-color: #ffffff;
}
@media (max-width: 767px) {
  .job-item-3 .job-instructor-img {
    float: none;
    margin-bottom: 20px;
  }
}

.team__job {
  padding: 35px 40px;
  border: 1px solid #e3e3e3;
}
@media (max-width: 767px) {
  .team__job {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.team__job h4 {
  font-size: 22px;
  margin-bottom: 25px;
}
.team__job ul {
  margin-bottom: 35px;
}
.team__job ul li {
  overflow: hidden;
  margin-bottom: 18px;
}
.team__job ul li h5 {
  width: 50%;
  float: left;
  font-size: 15px;
  color: #667488;
  margin-bottom: 0;
  line-height: 23px;
}
@media (max-width: 767px) {
  .team__job ul li h5 {
    width: 100%;
    margin-bottom: 10px;
  }
}
.team__job ul li span {
  display: inline-block;
  width: 50%;

  font-weight: 500;
  color: #1c2733;
}
@media (max-width: 767px) {
  .team__job ul li span {
    width: 100%;
    margin-bottom: 10px;
  }
}
.job-instructor-img {
  width: 50px;
}

.footers{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
 flex-flow: row wrap;
 padding: 50px 50px 20px 50px;
 color: #fff;
 background-color: #011c39;
}
.footers>*{
  flex:1 100%;

}
.footers-left{
  margin-right: 1.25em;
  margin-bottom: 2em;
}
.footers-left img{
  width: 50%;
}
.footers ul{
  list-style-type: none;
  padding-left: 0;
}
.footers li{
  line-height: 2em;
}
.footers a{
  text-decoration: none;
}
.footers a:hover{
  color: #fff;
}
.footers-right{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
 flex-flow: row wrap;
}
.footers-right > *{
  flex:1 50%;
  margin-right: 1.25em;
}
.box a{
  color: #fff;
}

.footers a:hover{
  color:#2970fa;
  text-decoration: none;

}
.footers-bottom{
  text-align: center;
}
.footers-bottom a{
  color:#fff;
  padding-top: 50px;
}
.footers-bottom a:hover{
  color:#2970fa;

}
.footers-left p{
  padding-right: 20%;
  color: #fff;
}
.footers-logo{
width: 250px;
margin-bottom: 40px;
}
/* .socials a{
  background:#364a62;
  width:40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
} */
.socials a li{
  color: #e7f2f4;
  padding: 10px 12px;
  font-size: 20px;
}
.socials a{
  color: #fff;
  display: inline-block;
  margin-right: 10px;
}
.socials a:hover{
  color: #2970fa;
}
.fab{
  font-size: 30px;
  text-align: center;
}
.fa-map-marker-alt{
  margin-right: 10px;
}
.footers-title{
  margin-bottom: 20px;
  font-size: 20px;
  margin-top: 30px;
}
hr{
 background: white;
 opacity: 0.3;
}
@media screen and (min-width: 600px){
  .footers-right > *{
      flex:1;
  }
  .footers-left{
      flex: 1 0px;
  }
  .footers-right{
      flex: 2 0px;
  }
  
}
@media (max-width:600px){
  .footers{
      padding:15px;

  }
  main{
      font-size: 55px;
  }
}
/* footer end */

.mylist li{
  list-style:square;
}
.under {
  color: #000;
  font-weight: 700;
  margin-top: 1rem;
  border-bottom: 5px solid #2970fa;
  display: inline-block;
  padding-bottom: 10px;
  font-family: sans-serif;
}
.title-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
  color: #0f0e0e;
}